*, *:before, *:after {
  box-sizing: border-box;
}

html {
  width: 100%;
  height: auto;
  min-height: 100vh;
  font-size: 62.5%;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  width: 100%;
  height: auto;
  min-height: 100vh;
  font: 700 1.6rem/1 'Open Sans Condensed', Arial, sans-serif;
  color: #fff;
  background: linear-gradient(to top, #00446b 0%, #47006b 100%);
}

#root {
  flex: 1;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
}